h1{
  font-family: 'Dancing Script', cursive;
  border: solid;
  border-style: 
  color: black;
  
}

h5{
  font-family: 'Crimson Text', serif;
}

.card-text{
  font-family: 'Crimson Text', serif;
}

.container{
  text-align: center;
}
.dropdown-menu{
  margin-block-end: left;
}
.wrapper {
  margin-right: 10px;
  display: grid;
  grid-template-areas:
    
    "main main main"
    "main main main"
    
  ;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

.main {
  display: grid;
  padding-bottom: 60px;
  padding-top: 60px;
}

.featured-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
 
.article-cards {
  min-height: calc(100vh - 300px);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.card {
  min-height: 35rem;
  max-width: 23rem;
  height: 650px;
}
 
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
 
#img1, #img2, #img3 {
  height: 250px;
}


