#submit-style{
  margin-bottom: 25px;
  text-align: center;
}
.background{background-color: coral;}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dancing Script', cursive;
  overflow-x: hidden;
  color: steelblue;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  font-size: 5rem;
}

.subheading {
  font-size: 2.5rem;
  color: #000;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.item:not(:first-child) {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.item__content {
  background-color: rgb(222, 39, 23);
  color: #f3f3f3;
  text-align: center;
  font-size: 2.5rem;
  padding: 7rem;
  border-radius: 7px;
}

.item > p {
  text-align: center;
}

.left {
  transform-origin: left center;
  transform: translateX(-50%);
}

.right {
  transform-origin: right center;
  transform: translateX(50%);
}

.slide-in {
  opacity: 1 !important;
  transform: translateX(0);
}
